*{
    margin: 0 ;
}

#parent {
    display: flex;
    background : palegoldenrod;
    justify-content: center;
    align-items: center;
    width : 100vw;
    height: 100vh;
}
.child{
    background: rgb(44, 25, 25) ;
    width : 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    -webkit-text-fill-color: palegoldenrod;
}
