body{
    text-align: center;
}   
button{
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 18px;
    margin-top: 2rem;
}
#res{
    display: block;
    text-decoration: underline;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
button:hover{
    border: 3px solid black;
    cursor: pointer;
}
span{
    text-decoration: underline;
}
