body{
    text-align: center;
}
button{
    height: 40px;
    width: 100px;
    background-color: pink;
    padding: 10px;
    border: 2px solid transparent;
}
button:hover{
    border: 2px solid white;
}
p{
    color: white;
}