.card{
    color: #0f1111;
    background-color: rgb(191, 185, 185);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 4px solid #0f1111;
    padding: 15px;
    border-radius: 15px;
}